
.icon-myself{
display: inline-block;
margin-top: 5px;
width: 40px;
height: 40px;
background-image:url("./assets/myself.png");
background-size: 40px 40px;
}

.icon-delect{
display: inline-block;
margin-top: 5px;
width: 16px;
height: 20px;
background-image:url("./assets/delect.png");
background-size: 16px 20px;
}

.icon-game{
display: inline-block;
width: 20px;
height: 16px;
background-image:url("./assets/game.png");
background-size: 20px 16px;
}

.icon-music{
display: inline-block;
width: 20px;
height: 20px;
background-image:url("./assets/music.png");
background-size: 20px 20px;
}

.icon-video{
display: inline-block;
width: 20px;
height: 20px;
background-image:url("./assets/video.png");
background-size: 20px 20px;
}

.icon-document{
display: inline-block;
width: 16px;
height: 18px;
background-image:url("./assets/document.png");
background-size: 16px 18px;
}

/* // github图标 */
.icon-github{
display:inline-block;
width:32px;
height: 32px;
margin: 2px 12px 0 0;
background-image: url("./assets/github.png");
background-repeat: no-repeat;
background-size: 32px 32px;
cursor: pointer;
}